@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
:root {
    --main-color: blue;
    --text-color: green;
    --bg-color: white; 
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 700;
}
.logo  span{
    color: var(--text-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover, 
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
    color: var(--bg-color);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
}

.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
}
.home-text{
    padding-left: 130px; 
}
.home-text h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.home-text span{
    color: var(--text-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #fd052f;
}
.posts .heading{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.988rem;
    font-weight: 300;
}
.local-posts{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.local-posts .box{
    flex: 1 1 17rem;
    position: relative;
    height: 35vh;
    overflow: hidden;
    padding-left: 30px;
}
.local-posts .box img{
    border-radius:50%;
    width: 80%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.local-posts .box img:hover{
    transform: scale(0.9);
    transition: 0.1s;
}
.local-posts .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 8px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
}
.about{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about-img{
    flex: 1 1 21rem;
    background: cover;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.5rem;
}
.about-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.posts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.posts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: var(--bg-color);
}
.posts-container .box img{
    width: 35vw;
    height: 25vh;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.posts-container .box img:hover{
    transform: scale(1.1);
    transition: 0.2s;
    
}
.posts-container .box span{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--main-color);
}
.footer-box h3{
    color: var(--main-color);
    text-align: center;
}
.footer-box h3 span{
    color: var(--text-color);
}
.footer-box p{
    color: var(--text-color);
    margin-bottom: 20px;
}
.social{
    text-align: center;
}
.social i{
    justify-content: space-between;
    max-width: 50px;
    min-width: 10px;
    width: 4vw;
    font-size: 2rem;
}